<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902900849409-umbi8js4hpp8e5utooa9j69met04c57k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902900849409-umbi8js4hpp8e5utooa9j69met04c57k</string>
	<key>API_KEY</key>
	<string>AIzaSyB_7Rj2Pn5nDNNq-GpG04ScDJXitJvLMlE</string>
	<key>GCM_SENDER_ID</key>
	<string>902900849409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.nyazjaff.bestnation.bestnation</string>
	<key>PROJECT_ID</key>
	<string>bestnation-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>bestnation-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902900849409:ios:9b6ab69cf6cd2721645900</string>
</dict>
</plist>